{% extends 'agency/basic/basic.html' %}
{% load static %}
{% block title_and_description %}
<title>Об агенстве &mdash; Агентство недвижимости "Высота"</title>
<meta name="description" content="Информация об агентстве недвижимости Высота.">
{% endblock title_and_description %}
{% block styles %}
<link rel="stylesheet" href="{% static 'agency/css/pre_style.css' %}">
<link rel="stylesheet" href="{% static 'agency/css/certificates.css' %}">
{% endblock styles %}
{% block content %}
<h1 class="display-4 text-center mb-3">Об агентстве</h1>
<hr>
{% include 'agency/blocks/certificates.html' %}
{% for desctiption in descriptions %}
<h2 class="text-center">{{ desctiption.headline }}</h2>
<pre class="text-justify">{{ desctiption.text }}</pre>
{% endfor %}
{% endblock content %}