{% extends 'agency/basic/basic.html' %}
{% load static %}
{% block title %}
<title>Агенство недвижимости "Высота" </title>
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'agency/css/contacts.css' %}">
<link rel="stylesheet" href="{% static 'agency/css/real_estate_types.css' %}">
<link rel="stylesheet" href="{% static 'agency/css/real_estate.css' %}">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="{% static 'agency/js/axios.min.js' %}"></script>
{% endblock styles %}
{% block content %}
{% include 'agency/blocks/real_estate_types.html' %}
{% include 'agency/blocks/best_offers.html' %}
{% include 'agency/blocks/advantages.html' %}
{% include 'agency/blocks/contacts.html' %}
{% endblock content %}