{% if advantages %}
<h2 class="display-4 text-center mb-3">Наши преимущества</h2>
<div class="row justify-content-center">
    {% for advantage in advantages %}
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0">
            <img src="{{ advantage.image.url }}" class="card-img-top w-25 align-self-center" alt="advantage image">
            <div class="card-body">
                <h5 class="card-title text-center">{{ advantage.headline }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}