{% load static %}
<div id="best-offers">
    <template v-if="bestOffers.length != 0">
        <h2 class="display-4 text-center mb-3">Лучшие предложения</h2>
        <div class="row justify-content-center">
            <div v-for="(bestOffer, index) in bestOffers" class="col-auto mb-3">
                <button v-if="index == 0" v-bind:id="'btnOpenTab'+index" type="button"
                    class="btn btn-primary btn-sm focus" v-bind:data-index="index" v-on:click="showOffers">
                    [[ bestOffer.verbose_tab_name ]]
                </button>
                <button v-else="index == 0" v-bind:id="'btnOpenTab'+index" type="button" class="btn btn-primary btn-sm"
                    v-bind:data-index="index" v-on:click="showOffers">
                    [[ bestOffer.verbose_tab_name ]]
                </button>
            </div>
        </div>
        <div class="card-deck real-estate-cards">
            <div v-for="ad in adsToShow" class="card mb-3">
                <a :href="'/'+ad.id+descriptionPageURL+'/'" target="_blank">
                    <img :src="ad.thumbnail" alt="real estate title image" class="card-img-top fit-image">
                </a>
                <div class="card-body m-0 p-0">
                    <a class="card-link" :href="'/'+ad.id+descriptionPageURL+'/'" target="_blank">
                        <h5 class="card-title ml-1 mr-1 mt-2 mb-2 text-center">[[ ad.headline ]]</h5>
                    </a>
                    <div class="ml-2 mr-2 mb-2 card-text">
                        <component v-bind:is="tabName" v-bind:ad="ad"></component>
                        <div class="row">
                            <div class="col text-center">[[ Number.parseFloat(ad.area) ]] [[ ad.get_area_units_display
                                ]]
                            </div>
                            <div class="col text-center">[[ ad.get_transaction_type_display ]]</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">[[ Number(ad.price).toLocaleString() ]] [[ ad.get_currency_display
                    ]]
                </div>
            </div>
        </div>
    </template>
</div>
<script src="{% static 'agency/js/load_best_offers.js' %}"></script>