{% extends 'agency/pages/real_estate/real_estate_description.html' %}
{% block unique_parameters %}
<tr>
    <td>Тип коммерческой недвижимости:</td>
    <td>{{ real_estate.commercial_type }}</td>
</tr>
{% if real_estate.number_of_rooms %}
<tr>
    <td>Количество комнат:</td>
    <td>{{ real_estate.number_of_rooms }}</td>
</tr>
{% endif %}
{% if real_estate.number_of_floors %}
<tr>
    <td>Количество этажей:</td>
    <td>{{ real_estate.number_of_floors }}</td>
</tr>
{% endif %}
{% if real_estate.decoration %}
<tr>
    <td>Отделка:</td>
    <td>{{ real_estate.decoration }}</td>
</tr>
{% endif %}
{% endblock unique_parameters %}