
.transparent-background {
    background-color: transparent;
}

@media (max-width: 576px) {
    h1 {
        font-size: 2rem !important;
    }
    h2 {
        font-size: 1.8rem !important;
    }
    h3 {
        font-size: 1.4rem !important;
    }
}