.real-estate-type-image {
    width: 50% !important;
}

@media (max-width: 576px) {
    .real-estate-type-image {
        width: 25% !important;
    }
}

.real-estate-type-image:hover {
    opacity: 0.7;
}

.link {
    font-size: 1.3rem;
}

.link:hover {
    text-decoration: none;
}